body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#search-input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#search-button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.toggle-background-container {
    margin-top: 10px;
}

#toggle-background {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggle-background:hover {
    background-color: #0056b3;
}

/* Style pour les popups */
.mapboxgl-popup {
    max-width: 300px;
    font-family: 'Urbanist', sans-serif;
    background: #1c1c1c;
    border: 2px solid #444;
    border-radius: 8px;
    color: #fff;
}

.mapboxgl-popup-content {
    padding: 10px;
}

.mapboxgl-popup-content h3 {
    margin: 0 0 10px;
    color: #fff;
}

.mapboxgl-popup-content a {
    color: #79aaca;
    text-decoration: none;
}

.mapboxgl-popup-content a:hover {
    text-decoration: underline;
}

.mapboxgl-popup-content .popup-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    font-family: 'Urbanist', sans-serif;
}

