        body {
            margin: 0;
            padding: 0;
            font-family: 'Urbanist', sans-serif;
        }

        html, body, #map {
            width: 100%;
            height: 100%;
        }

        .search-container {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(122, 181, 217, 0.5);
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .search-container input {
            padding: 5px;
            border: none;
            border-radius: 3px;
            margin-right: 10px;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            color: #edf6fc;
            background: rgba(255, 255, 255, 0.1);
            outline: none;
        }

        .search-container button#search-button {
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            background: #9cd0f3;
            color: black;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .search-container button#search-button:hover {
            background: #79aaca;
        }

        .ol-zoom {
            bottom: 100px !important;
        }

        .ol-zoom button {
            background: rgba(0, 0, 0, 0.8) !important;
            color: white !important;
            border-radius: 50%;
            transition: background 0.3s;
        }

        .ol-zoom button:hover {
            background: #9cd0f3 !important;
        }

        .toggle-background-container, .toggle-routing-container {
            position: absolute;
            right: 10px;
            bottom: 65px;
            z-index: 1000;
        }

        .toggle-background-container {
            bottom: 120px; /* Adjust position to stack buttons */
        }

        .toggle-background-container button, .toggle-routing-container button {
            padding: 10px;
            border: none;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(122, 181, 217, 0.5);
            transition: background 0.3s;
        }

        .toggle-background-container button:hover, .toggle-routing-container button:hover {
            background: #9cd0f3;
        }

        .routing-container {
            position: absolute;
            top: 60px;
            right: 10px;
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(122, 181, 217, 0.5);
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .routing-container button {
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            background: #9cd0f3;
            color: black;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .routing-container button:hover {
            background: #79aaca;
        }

        .tooltip {
            position: absolute;
            z-index: 10000;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 5px;
            border-radius: 3px;
            font-family: 'Urbanist', sans-serif;
            font-size: 14px;
            display: none;
            pointer-events: none; /* Ensure tooltip doesn't interfere with mouse events of underlying elements */
        }
